@import  url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,400;0,800;1,400&display=swap');
:root{
    --main-radius:5px;
    --main-padding:5px;
    background: rgb(245, 245, 245);
}
/*top nav */
.topnav a {
    float:right;
    display: block;
    color: whitesmoke;
    text-align: right;
    padding: 14px 14px;
    text-decoration:wavy;
    text-transform: capitalize;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    

}
.logobox a{

    float: left;
    background:url(images/archeryAcademy-logo-white.png);
    width: 240px;
    height: 86px;
    margin-left: 12px;
    
}
.logobox a:hover {
    background-color: #03a3df;
    color: #ecb722;
    transition:2s;
  
}

.topnav a.hover, .active {
    background-color: #1b447f;
}

.topnav .icon {
    display: none;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:"nav nav nav nav " 
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    color: #ecb722;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    font-weight: bold;
    font-size: 40px;
    position:absolute;
    margin-left: 24%;
    margin-block: 2px;
   
  
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.about{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #1b447f;
}
nav{
    background: #03a3df;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
main{
    background: rgb(245, 245, 245);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
.maincontent{
    font-family:'Lucida Sans Regular', sans-serif;
    font-size: 17px;
    color: #000;
    font-weight: lighter;
    text-transform: none;
    text-align:justify;
    text-indent: 4%;
}
#address{
    font-family:'Lucida Sans Regular', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: none;
}
#sidebar{
    background: #03a3df;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 2em;
     

}

aside{
    margin-top: 110px;
   
}

.whatsapp{
    color:#07df03;
    
    
}
#content1{
    background: #444444;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content2{
    background: #444444;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content3{
    background: #444444;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
footer{
    background: url(images/footerImage.jpg);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a:hover {
    color: whitesmoke;
    background-color: #444444;
    text-decoration:double;
    color: #ecb722;
}

#content1 :hover{
    font-size: 110%;
    transition-property: all; 
    transition-duration: 3s;
}
#content2 :hover{
    font-size: 110%;
    transition-property: all; 
    transition-duration: 3s;
}
#content3 :hover{
    font-size: 110%;
    transition-property: all; 
    transition-duration: 3s;
}





/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}


/* DESKTOP */
@media all and (min-width:1200px) {
    .container {
        width: 100%;
    }
}


/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    .container {
        width: 100%;
    }
}

/* PHONE */
@media screen and (max-width: 550px){
    .container{
       grid-template-columns: 1fr; 
       grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
       grid-template-areas:
       "nav"
       "sidebar"
       "main"
       "content1"
       "content2"
       "content3"
       "footer";
    }
    h1{
        display:flow-root;
        font-family: Arial, Helvetica, sans-serif;
        float:left;
        font-weight: bolder;
        font-size:110%;
        position:absolute;
        margin-left: 14%;
        margin-top: 39px;
        color: #1b447f;
        vertical-align: baseline;}
    
        
        .logobox a{
            float: left;
            color: #03a3df;
            margin-left: 0px;
            margin-bottom: 8px;
        }
        .logobox :hover{
            background-color: #03a3df;
            color: #03a3df;
            
        } 
       
}

::selection {
    color: #000; 
    background: #ff0;
}
/*footer {
    position: relative;
    width: 100%;
    background-color: #444444;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}
*/
footer .footerpad, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .footerpad li, footer .menu li{
    list-style: none;
}
footer .footerpad li a{
    font-size: 2em;
    color: #ecb722;
    margin: 0 10px;
    display: inline-block;
    transition: 1s;

}
footer .footerpad li a:hover{
    transform:translateY(-15px);
}
footer .menu li a{
    font-size: 1.2em;
    color: #ecb722;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #ecb722;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}









